@charset "UTF-8";

#AjaxLogin {
	display: block;
}

#AjaxLogin ul {
	padding-left: 0em;
	margin: 0;
}
#AjaxLogin li {
	list-style-type: none;
}

.htmlFormTable {
	width: 100%;
}

.htmlFormTable input[type="text"],
.htmlFormTable input[type="password"] {
	width: 99%;
}

.htmlFormTable td.label {
	vertical-align: top;
}

.error {
	background-color: lightyellow;
	color: red;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: dashed 1px red;
	width: 80%;
	padding: 0.5em;
	margin: 0.5em auto;
	display: block;
}

.message {
	background-color: lightgreen;
	color: green;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: dashed 1px green;
	width: 80%;
	padding: 0.5em;
	margin: 0.5em auto;
}

.rating {
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: solid 1px silver;
	width: 96%;
	padding: 0.5em;
	margin: 0.5em auto;
}

.prefix {
	float: left;
	width: 5em;
}

.user {
	background-image: url(user1.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 2px;
	padding-left: 18px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.time {
	font-style: italic;
	color: grey;
	background-image: url(clock.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 2px;
	padding-left: 18px;
	font-size: 12px;
}

form.bewertung textarea {
	width: 81%;
}

a.gravatar,
a.gravatar:hover {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
a.gravatar img {
	margin: 0 3px 0 0;
	padding: 0;
	border: none;
}

h4.titleKl {
	margin: 0;
}

.absMessage {
	position: absolute;
	top: 0;
	left: 25%;
	background-color: lightgreen;
	color: green;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	border: dashed 1px green;
	width: 50%;
	padding: 1em;
	margin: 0 auto;
	z-index: 200;
	font-size: larger;
}
