.paginationControl {
	margin-bottom: 1em;
	margin-top: 1em;
	display: inline-block;
	ul {
		margin: 0;
		white-space: nowrap;
		display: inline-block;
		vertical-align: top;
		box-shadow: none;
		li {
			display: inline;
			margin: 0;
		}
	}
	.pageSize {
		display: inline-block;
	}
}
.paginationControl a,
.paginationControl span.page,
.paginationControl span.disabled,
.paginationControl span.active {
	padding: 0 10px !important; // against bootstrap
	border: 1px solid #DDDDDD;
	cursor: pointer;
	display: inline-block;
	margin-top:1px;
	margin-bottom:1px;
	margin-right:3px;
	padding-top:1px;
	text-align:center;
	text-decoration:none;
	vertical-align:baseline;
	min-width: 15px;
	line-height: 30px !important;
	color: black;
	background: #EEEEEE;
}
.paginationControl span.disabled {
	cursor: default;
}
.paginationControl span.active,
.paginationControl a.active {
	background: #72BDE5;
	color: white;
	border: solid 1px #72BDE5;
}
.paginationControl a:hover {
	background: #DDDDDD;
	text-decoration:none;
}
.paginationControl {
	form {
		display: inline-block;
		margin: 0;
		padding: 0;
		input[type="text"] {
			min-width: 3em;
		}
	}
}
.paginationControl div.page {
	display: inline-block;
	height: 19px;
	vertical-align: bottom;
	margin-top: 3px;
	text-align: center;
	margin-right: 3px;
}
