.floatTimeContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.75;
  z-index: 100;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.floatTimeContainer:hover {
  opacity: 0;
}
.floatTime {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  background-color: #22221F;
  width: auto;
  padding: 0.5em;
}
.floatTime table {
  border-collapse: separate;
  border-spacing: 2px;
}
.floatTime table td {
  color: #FFF4A7;
}
.profiler {
  overflow: hidden;
  opacity: 0.75;
  background-color: #22221F;
  margin: 1em 0;
  padding: 1em;
  color: white !important;
}
.profiler table {
  background-color: #22221F;
}
.profiler table.table {
  border: none;
}
.profiler table tr.odd {
  background-color: #22221F;
}
.profiler table tr.even {
  background-color: #22221F;
}
.profiler table.table th {
  background-color: #474744;
}
.profiler table th,
.profiler table td {
  background-color: #22221F;
  vertical-align: top;
  color: white;
  margin-top: 50px;
  /* footer */
  border: none;
}
.profiler .nospacing tr.even,
.profiler .nospacing th,
.profiler .nospacing tr.footer {
  background-color: #22221F;
}
.profiler .nospacing tr.odd {
  background: #333333;
}
.profiler table.nospacing {
  border: none;
}
.profiler table td small {
  display: block;
  max-height: 1.25em;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.profiler table td small:hover {
  max-height: 999px;
  transition: max-height 1s ease-in;
}
.floatTime #page_load_time_bar {
  height: 15px;
  width: 100px;
  background: white;
  padding: 1px;
  border: solid 1px #7F7F7F;
}
.floatTime #page_load_time_bar div {
  height: 11px;
  background: #43B6DF;
}
