.floatTimeContainer {
	position: fixed;
	bottom: 0;
	right: 0;
}
.floatTime {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    background-color: #22221F;
    color: #FFF4A7;
    width: auto;
    padding: 0.5em;
}
