/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.bold {
	font-weight: bold;
}

.red {
	background: lightpink !important;
}
.green {
	background: lightgreen !important;
}

.be {
	background: lightgrey !important;
}
.fe {
	background: lightblue !important;
}

td.tdlabel {
	vertical-align: top;
}

.pageSize {
	display: inline-block;
	float: right;
}

form.anyPageForm {
	display: inline-block;
	margin-bottom: 0;
}
form.anyPageForm input {
	margin-bottom: 0;
}
.list-group-item {
	padding: 0;
}
.nav > li.active {
	background: #428bca;
}
.nav > li > a {
}
.nav > li > a.act {
	color: white;
}
.nav > li > a.act:hover,
.nav > li > a.act:focus {
	background-color: inherit;
}
.navbar-form {
    margin: 0;
    padding: 0;
}
.navbar-form input {
	width: 10em;
}
.navbar-form a.btn {
    margin: 6px 12px;
}
.htmlFormTable {
	width: 100%;
}
