/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.bold {
	font-weight: bold;
}

.red {
	background: lightpink !important;
}
.green {
	background: lightgreen !important;
}

.be {
	background: lightgrey !important;
}
.fe {
	background: lightblue !important;
}
